/* Estilos generales */
body {
    background-color: #b7e4c7; /* Color de fondo para toda la página */
    font-family: "Roboto", sans-serif; /* Fuente para el texto */
}

/* Estilos del encabezado */
header {
    background-color: #2d6a4f; /* Fondo verde oscuro */
    color: #a3b18a; /* Color del texto del título */
    padding: 0; /* Eliminamos el espacio de relleno */
    text-align: center; /* Centramos el texto */
}

h1 {
    font-family: "Cormorant Garamond", serif; /* Fuente para el título */
    font-size: 48px; /* Tamaño de fuente más grande */
    margin: 0; /* Eliminamos el margen para que el título se pegue a los bordes */
    padding: 20px; /* Añadimos un poco de espacio alrededor del título */
}

/* Estilos de la parte inferior de la página */
footer {
    background-color: transparent; /* Fondo transparente */
    color: rgba(45, 106, 79, 0.8); /* Color del texto con opacidad */
    padding: 20px;
    text-align: center; /* Centramos el texto */
}

/* Estilos de las obras de arte */
.artwork {
    text-align: center; /* Centramos el contenido */
    margin-top: 50px; /* Añadimos un margen superior para separarlo del contenido anterior */
}

.artwork img {
    max-width: 100%;
    height: auto;
    opacity: 0.8; /* Opacidad reducida */
    transition: opacity 0.3s ease-in-out;
}

.artwork img:hover {
    opacity: 1; /* Opacidad completa al pasar el cursor */
}

.artwork-description {
    margin-top: 20px; /* Espacio entre la imagen y la descripción */
}

.artwork-description h2 {
    color: #2d6a4f; /* Color del título */
}

.artwork-description p {
    color: rgba(45, 106, 79, 0.8); /* Color del texto con opacidad */
}

.artwork-description a {
    color: #40916c; /* Color del enlace */
}
