/* Estilos del encabezado */
header {
    background-color: #2d6a4f; /* Fondo verde oscuro */
    color: #2d6a4f; /* Color del texto del título */
    padding: 0; /* Eliminamos el espacio de relleno */
    text-align: center; /* Centramos el texto */
}

h1 {
    font-family: "Cormorant Garamond", serif; /* Fuente para el título */
    font-weight: 300; /* Hacemos la tipografía más delgada */
    font-size: 44px; /* Tamaño de fuente un poco más pequeño */
    margin: 0; /* Eliminamos el margen para que el título se pegue a los bordes */
    padding: 20px; /* Añadimos un poco de espacio alrededor del título */
    color: #2d6a4f; /* Color del texto */
}

nav ul {
    list-style-type: none; /* Quitamos los puntos de la lista */
    padding: 0; /* Quitamos el relleno de la lista */
}

nav ul li {
    display: inline-block; /* Mostramos los elementos de la lista en línea */
    margin-right: 20px; /* Añadimos espacio entre los elementos */
    background-color: #2d6a4f; /* Color de fondo inicial de las pestañas */
    padding: 10px 20px; /* Añadimos relleno a las pestañas */
    border-radius: 10px; /* Redondeamos los bordes de las pestañas */
    transition: all 0.3s ease-in-out; /* Transición suave de todos los cambios */
}

nav ul li a {
    color: #a3b18a; /* Color del texto */
    font-size: 18px; /* Tamaño de fuente */
    text-decoration: none; /* Quitamos el subrayado */
}

nav ul li:hover {
    background-color: #40916c; /* Color de fondo al pasar el cursor */
    transform: scale(1.05); /* Agrandamos un poco al pasar el cursor */
}

/* Estilos de la parte inferior de la página */
footer {
    background-color: transparent; /* Fondo transparente */
    color: #2d6a4f; /* Color del texto */
    padding: 20px;
    text-align: center; /* Centramos el texto */
}
